In [56]:
import pandas as pd

data = pd.read_csv("gameplay_data.csv")

data

,player_id,p1_x,p1_y,p1_health,p1_jumping,p1_crouching,p1_in_move,p1_move_id,p2_x,p2_y,...,up,down,left,right,Y,B,X,A,L,R
0,1,157,192,145,0,0,0,0,298,192,...,0,0,0,0,0,0,0,0,0,0
1,1,157,192,145,0,0,0,0,298,192,...,0,0,0,0,0,0,0,0,0,0
2,1,159,192,145,0,0,0,0,298,192,...,0,0,0,1,0,0,0,0,0,0
3,1,159,192,145,0,0,0,0,298,192,...,0,1,0,1,0,0,0,0,0,0
4,1,159,192,145,0,0,0,0,298,192,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34882,1,214,164,13,0,0,0,0,241,192,...,1,0,0,1,1,1,1,1,1,1
34883,1,214,164,13,0,0,0,0,241,192,...,1,0,0,1,1,1,1,1,1,1
34884,1,214,138,13,0,0,0,0,241,192,...,1,0,0,1,1,1,1,1,1,1
34885,1,214,138,13,0,0,0,0,241,192,...,1,0,0,1,1,1,1,1,1,1
34886,1,214,138,255,0,0,0,0,241,192,...,1,0,0,1,1,1,1,1,1,1

In [57]:
import pandas as pd

# Load existing dataset
df = pd.read_csv("gameplay_data.csv")

# Drop rows where all button outputs are zero (no action)
button_cols = ["up", "down", "left", "right", "Y", "B", "X", "A", "L", "R"]
df = df.drop_duplicates()
df_cleaned = df[~(df[button_cols].sum(axis=1) == 0)]

# Optional: Reset index
df_cleaned.reset_index(drop=True, inplace=True)


# # Save cleaned version
df_cleaned.to_csv("gameplay_data_cleaned.csv", index=False)

# print(f"✅ Cleaned data saved. Rows before: {len(df)}, after cleaning: {len(df_cleaned)}")
df_cleaned

,player_id,p1_x,p1_y,p1_health,p1_jumping,p1_crouching,p1_in_move,p1_move_id,p2_x,p2_y,...,up,down,left,right,Y,B,X,A,L,R
0,1,159,192,145,0,0,0,0,298,192,...,0,0,0,1,0,0,0,0,0,0
1,1,159,192,145,0,0,0,0,298,192,...,0,1,0,1,0,0,0,0,0,0
2,1,159,192,145,0,1,0,0,298,192,...,0,1,0,0,0,0,0,0,0,0
3,1,159,192,145,0,1,0,0,298,192,...,0,1,1,0,0,0,0,0,0,0
4,1,159,192,145,0,1,1,1,298,192,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18746,1,214,194,13,0,0,0,0,241,192,...,1,0,0,1,1,1,1,1,1,1
18747,1,214,194,13,0,0,0,0,241,192,...,1,0,0,1,1,1,1,1,1,1
18748,1,214,164,13,0,0,0,0,241,192,...,1,0,0,1,1,1,1,1,1,1
18749,1,214,138,13,0,0,0,0,241,192,...,1,0,0,1,1,1,1,1,1,1
18750,1,214,138,255,0,0,0,0,241,192,...,1,0,0,1,1,1,1,1,1,1

In [58]:
print(df_cleaned.columns)

Index(['player_id', 'p1_x', 'p1_y', 'p1_health', 'p1_jumping', 'p1_crouching',
       'p1_in_move', 'p1_move_id', 'p2_x', 'p2_y', 'p2_health', 'p2_jumping',
       'p2_crouching', 'p2_in_move', 'p2_move_id', 'timer', 'up', 'down',
       'left', 'right', 'Y', 'B', 'X', 'A', 'L', 'R'],
      dtype='object')

In [59]:
print(df_cleaned.nunique())

player_id         1
p1_x            427
p1_y            139
p1_health        84
p1_jumping        2
p1_crouching      2
p1_in_move        2
p1_move_id        8
p2_x            418
p2_y            130
p2_health        64
p2_jumping        2
p2_crouching      2
p2_in_move        2
p2_move_id       43
timer           100
up                2
down              2
left              2
right             2
Y                 2
B                 2
X                 2
A                 2
L                 2
R                 2
dtype: int64

In [60]:
print(df['Y'].value_counts())
print(df['B'].value_counts())
print(df['X'].value_counts())
print(df['A'].value_counts())
print(df['L'].value_counts())
print(df['R'].value_counts())

Y
0    14351
1     9615
Name: count, dtype: int64
B
0    14911
1     9055
Name: count, dtype: int64
X
0    15628
1     8338
Name: count, dtype: int64
A
0    15623
1     8343
Name: count, dtype: int64
L
0    15626
1     8340
Name: count, dtype: int64
R
0    15589
1     8377
Name: count, dtype: int64

In [61]:
print(df['up'].value_counts())
print(df['down'].value_counts())
print(df['left'].value_counts())
print(df['right'].value_counts())

up
0    15070
1     8896
Name: count, dtype: int64
down
0    17008
1     6958
Name: count, dtype: int64
left
0    20452
1     3514
Name: count, dtype: int64
right
0    12737
1    11229
Name: count, dtype: int64